<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="63293722215-rpoaqktpbi8j9f2ctoqrkp22q3mqqlko.apps.googleusercontent.com">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Document</title>
</head>

<body>

    <div>
        <h1>Gozem - Login</h1>

    </div>
    <form action="/login">
        <p>Login</p>
        <label for="#email">Email</label>
        <input type="email" placeholder="Introduce your email" required>
        <label for="#password">Password*</label>
        <input type="password" name="password" id="" required>
    </form>
    <div>
        <div id="require">
            <% if(typeof error !== 'undefined'){ %>
                Please, fill all the required fields.
                <% } %>
        </div>

        <form action="/register" method="Post">
            <input type="hidden" name="location" id="location">
            <div>
                <label for="#email">Email</label>
                <input type="email" name="email" id="email" placeholder="Introduce your email*" required></div>
            <div><label for="#name">First Name</label>
                <input type="text" name="name" id="name" placeholder="Introduce your first name*"></div>
            <div><label for="#surname">Surname</label>
                <input type="text" name="surname" name="surname" id="surname" placeholder="Introduce your surname*" required></div>
            <div><label for="username">Username</label>
                <input type="text" name="username" id="username">
                <p id="userst"></p>
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" placeholder="Introduce your Adress">
            </div>
            <div><label for="#password">Password*</label>
                <input type="password" id="password" required></div>
            <div><label for="#passwordConfirm">Confirm Password*</label>
                <input type="password" id="passwordConfirm" required>
                <p id="pass"></p>
            </div>
            <div>
                <label for="#account_type">Account Type</label>
                <select name="account_type" id="account_type" required>
                            <option value="1" >Admin</option>
                            <option value="2">Driver</option>
                            <option value="3" selected>Client</option>
                        </select>
            </div>
            <input type="hidden" name="check" value="">
            <input type="hidden" name="equal" value="no">
            <button id="register" type="submit" disabled>Register</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <script>
        //Username Verification
        document.getElementById('username').addEventListener('input', function() {
            myFunction()
        })

        function myFunction() {
            var value = document.getElementById('username').value;
            console.log(value);
            if (value != '') {
                socket.emit('number', value);
            }
        }

        socket.on('username-response', function(data) {
            console.log(data);
            if (data.status == 1) {
                document.getElementById('userst').innerHTML = `${data.username} is already in use`;
            } else {
                document.getElementById('userst').innerHTML = `Your username is ${data.username}`;
            }

            //input validation
            document.getElementById('name').addEventListener('input', () => {
                emptyChecker()
            })
            document.getElementById('surname').addEventListener('input', () => {
                emptyChecker()
            })
            document.getElementById('email').addEventListener('input', () => {
                emptyChecker()
            })
            document.getElementById('username').addEventListener('input', () => {
                emptyChecker()
            })
            document.getElementById('password').addEventListener('input', () => {
                emptyChecker()
            })
            document.getElementById('passwordConfirm').addEventListener('input', () => {
                emptyChecker()
            })

            //password
            document.getElementById('passwordConfirm').addEventListener('input', function() {
                passwordVerification();
            })

            function passwordVerification() {
                var password = document.getElementById('password').value;
                console.log(password);
                var verpassword = document.getElementById('passwordConfirm').value;
                console.log(verpassword);
                if (password != verpassword) {
                    document.getElementById('pass').innerHTML = `Different Password Introduced`;
                    document.getElementById('equal').value = 'no';
                } else {
                    document.getElementById('equal').value = 'yes';
                }
            }

            function emptyChecker() {
                var name = document.getElementById('name').value;
                var surname = document.getElementById('surname').value;
                var email = document.getElementById('email').value;
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                var passwordConfirm = document.getElementById('passwordConfirm').value;
                var address = document.getElementById('address').value;
                if (
                    ((name.length != 0) &&
                        (surname.length != 0) &&
                        (email.length != 0) &&
                        (username.length != 0) &&
                        (password.length != 0) &&
                        (passwordConfirm.length != 0) &&
                        (address.length != 0)
                    ) && (document.getElementById('equal') == 'yes')) {
                    document.getElementById(register).disabled = false;
                } else {
                    document.getElementById('require').innerHTML = `Please, fill all required fields`;
                }
            }

        })
    </script>

</body>

</html>