<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="63293722215-rpoaqktpbi8j9f2ctoqrkp22q3mqqlko.apps.googleusercontent.com">
    <title>Document</title>
</head>

<body>

    <div>
        <h1>Gozem - Login</h1>

    </div>
    <% if(status==1) {%>
        <p>Account created successfully. Please, sign in.
        </p>
        <% } %>

            <div>
                <form action="register" method="get">
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="/login" onclick="signOut();">Sign out</a>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <script>
                function onSignIn(googleUser) {
                    var id_token = googleUser.getAuthResponse().id_token;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/login');
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function() {
                        console.log('Signed in as: ' + xhr.responseText);
                        if (xhr.responseText) {
                            signOut();
                            location.assign(xhr.responseText);
                        }
                    };
                    xhr.send(JSON.stringify({
                        token: id_token
                    }));
                }

                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function() {
                        console.log('User signed out.');
                    });
                }
            </script>
</body>

</html>