<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/register-save" method="POST">
        <input type="text" placeholder="email" name="email">
        <select name="account_type">
            <option value="2">Driver</option>
            <option value="3">Client</option>
        </select>
        <button type="submit" name="register" value="1">Register</button>

    </form>
</body>
<h1>Gozem - Register</h1>
<form action=""></form>

</html>